<form class="form-horizontal" role="form" name="formInfo" ng-submit="submitForm(formUsername, formPassword)" novalidate="true">
    <div class="col-md-6 center-block">
        <div class="form-group">
            <label class="control-label col-md-2" for="formUsername">Email:</label>
            <div class="col-md-10">
                <input type="email" class="form-control" id="formUsername" ng-model="formUsername" placeholder="Email Address">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="formPassword">Password:</label>
            <div class="col-md-10">
                <input type="password" class="form-control" id="formPassword" ng-model="formPassword" placeholder="Password">
            </div>
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
    </div>
</form>

